---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/surik3415
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aee661f5425764b38b541519330c717f040798d3f25bc932759471e7d0b341fe"
      Last-Modified:
      - Sat, 02 Dec 2023 16:16:04 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1701722738'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Surik3415","id":103749294,"node_id":"U_kgDOBi8Wrg","avatar_url":"https://avatars.githubusercontent.com/u/103749294?v=4","gravatar_id":"","url":"https://api.github.com/users/Surik3415","html_url":"https://github.com/Surik3415","followers_url":"https://api.github.com/users/Surik3415/followers","following_url":"https://api.github.com/users/Surik3415/following{/other_user}","gists_url":"https://api.github.com/users/Surik3415/gists{/gist_id}","starred_url":"https://api.github.com/users/Surik3415/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Surik3415/subscriptions","organizations_url":"https://api.github.com/users/Surik3415/orgs","repos_url":"https://api.github.com/users/Surik3415/repos","events_url":"https://api.github.com/users/Surik3415/events{/privacy}","received_events_url":"https://api.github.com/users/Surik3415/received_events","type":"User","site_admin":false,"name":"Suren
        Avakian","company":null,"blog":"","location":"Ukraine","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":5,"public_gists":0,"followers":0,"following":0,"created_at":"2022-04-15T11:46:11Z","updated_at":"2023-12-02T16:16:04Z"}'
  recorded_at: Mon, 04 Dec 2023 19:57:36 GMT
recorded_with: VCR 6.2.0
