---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/surik3415/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca46308d4bb0b794f1fd17b0e4a95811dfb73057f9f70321a06ebf6ce205cd99"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1701726695'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":705874217,"node_id":"R_kgDOKhLJKQ","name":"api_music_app","full_name":"Surik3415/api_music_app","private":false,"owner":{"login":"Surik3415","id":103749294,"node_id":"U_kgDOBi8Wrg","avatar_url":"https://avatars.githubusercontent.com/u/103749294?v=4","gravatar_id":"","url":"https://api.github.com/users/Surik3415","html_url":"https://github.com/Surik3415","followers_url":"https://api.github.com/users/Surik3415/followers","following_url":"https://api.github.com/users/Surik3415/following{/other_user}","gists_url":"https://api.github.com/users/Surik3415/gists{/gist_id}","starred_url":"https://api.github.com/users/Surik3415/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Surik3415/subscriptions","organizations_url":"https://api.github.com/users/Surik3415/orgs","repos_url":"https://api.github.com/users/Surik3415/repos","events_url":"https://api.github.com/users/Surik3415/events{/privacy}","received_events_url":"https://api.github.com/users/Surik3415/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Surik3415/api_music_app","description":null,"fork":false,"url":"https://api.github.com/repos/Surik3415/api_music_app","forks_url":"https://api.github.com/repos/Surik3415/api_music_app/forks","keys_url":"https://api.github.com/repos/Surik3415/api_music_app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Surik3415/api_music_app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Surik3415/api_music_app/teams","hooks_url":"https://api.github.com/repos/Surik3415/api_music_app/hooks","issue_events_url":"https://api.github.com/repos/Surik3415/api_music_app/issues/events{/number}","events_url":"https://api.github.com/repos/Surik3415/api_music_app/events","assignees_url":"https://api.github.com/repos/Surik3415/api_music_app/assignees{/user}","branches_url":"https://api.github.com/repos/Surik3415/api_music_app/branches{/branch}","tags_url":"https://api.github.com/repos/Surik3415/api_music_app/tags","blobs_url":"https://api.github.com/repos/Surik3415/api_music_app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Surik3415/api_music_app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Surik3415/api_music_app/git/refs{/sha}","trees_url":"https://api.github.com/repos/Surik3415/api_music_app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Surik3415/api_music_app/statuses/{sha}","languages_url":"https://api.github.com/repos/Surik3415/api_music_app/languages","stargazers_url":"https://api.github.com/repos/Surik3415/api_music_app/stargazers","contributors_url":"https://api.github.com/repos/Surik3415/api_music_app/contributors","subscribers_url":"https://api.github.com/repos/Surik3415/api_music_app/subscribers","subscription_url":"https://api.github.com/repos/Surik3415/api_music_app/subscription","commits_url":"https://api.github.com/repos/Surik3415/api_music_app/commits{/sha}","git_commits_url":"https://api.github.com/repos/Surik3415/api_music_app/git/commits{/sha}","comments_url":"https://api.github.com/repos/Surik3415/api_music_app/comments{/number}","issue_comment_url":"https://api.github.com/repos/Surik3415/api_music_app/issues/comments{/number}","contents_url":"https://api.github.com/repos/Surik3415/api_music_app/contents/{+path}","compare_url":"https://api.github.com/repos/Surik3415/api_music_app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Surik3415/api_music_app/merges","archive_url":"https://api.github.com/repos/Surik3415/api_music_app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Surik3415/api_music_app/downloads","issues_url":"https://api.github.com/repos/Surik3415/api_music_app/issues{/number}","pulls_url":"https://api.github.com/repos/Surik3415/api_music_app/pulls{/number}","milestones_url":"https://api.github.com/repos/Surik3415/api_music_app/milestones{/number}","notifications_url":"https://api.github.com/repos/Surik3415/api_music_app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Surik3415/api_music_app/labels{/name}","releases_url":"https://api.github.com/repos/Surik3415/api_music_app/releases{/id}","deployments_url":"https://api.github.com/repos/Surik3415/api_music_app/deployments","created_at":"2023-10-16T21:30:12Z","updated_at":"2023-10-18T17:29:35Z","pushed_at":"2023-11-06T20:48:38Z","git_url":"git://github.com/Surik3415/api_music_app.git","ssh_url":"git@github.com:Surik3415/api_music_app.git","clone_url":"https://github.com/Surik3415/api_music_app.git","svn_url":"https://github.com/Surik3415/api_music_app","homepage":null,"size":366,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"},{"id":703261314,"node_id":"R_kgDOKerqgg","name":"custom_music_app","full_name":"Surik3415/custom_music_app","private":false,"owner":{"login":"Surik3415","id":103749294,"node_id":"U_kgDOBi8Wrg","avatar_url":"https://avatars.githubusercontent.com/u/103749294?v=4","gravatar_id":"","url":"https://api.github.com/users/Surik3415","html_url":"https://github.com/Surik3415","followers_url":"https://api.github.com/users/Surik3415/followers","following_url":"https://api.github.com/users/Surik3415/f[...]
